body {
  background-image: url(bg_try1_5.jpg);
  background-repeat: repeat;
  margin: 0 auto;
  background-size: 25%;
}

bg {
  background-image: url(bg_try1_5.jpg);
  background-repeat: repeat;
  margin: 0 auto;
  background-size: 30%;
}

.titletry { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 40px; 
  width: 100%; 
  font: bold 210px/1.5 'Great Vibes',cursive;
  color: #cc0000;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000, 3px 3px 0px rgba(0,0,0,0.4);
}

.writing2 {
  font-size: 20%;
  color: #cc0000;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    text-shadow_:
    /* Outline 1 */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000, 
    /* Outline 2 */
    -2px -2px 0 #000000,
    2px -2px 0 #000000,
    -2px 2px 0 #000000,
    2px 2px 0 #000000,  
    -3px 0 0 #000000,
    3px 0 0 #000000,
    0 3px 0 #000000,
    0 -3px 0 #000000; /* Terminate with a semi-colon */
  font: bold 32px/1.3 'Georgia',serif;
  position: absolute; 
  text-align: center; 
  top: 370px; 
  width: 100%; 
  letter-spacing: 2px;
  margin-top_: 80px;
    margin-bottom_: 50px;
    margin-right: 10px;
    margin-left: 5px;
    z-index_:1000;
    opacity_:0.5;
}


#home { 
  background: url(bg_try1_5.jpg) 50% 0 repeat fixed; 
  min-height: 2200px; /*1000px; /*2200px;*/ 
  height_: 1900px; /*<!-- 1000px; -->*/
  height_: 2000px;
  height_: auto;
  margin: 0 auto; 
  width: 100%; 
  height_: 100%;
  max-width: 1920px; 
  position: relative; 
  background-size: contain;
  font-size: 1500%;
  color: #cc0000;
  font_: 'Arizonia';
  text-shadow: 3px 3px 0px rgba(0,0,0,0.4); 
  font_: 400 600px/1.3 'Arizonia', Helvetica, sans-serif;
  font_: bold 200px/1.5 'Arizonia';
  font_: bold 220px/1.5 'Great Vibes';
  font_: bold 210px/1.5 'Great Vibes',cursive;
background-size_: 65% 35%;
background-size_: 30%;
       letter-spacing_: 15px;
}

#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 40px; 
  width: 100%; 
  font: bold 210px/1.5 'Great Vibes',cursive;
}

::selection {
  background: #000000; /* WebKit/Blink Browsers */

 }
::-moz-selection {
  background: #000000; /* Gecko Browsers */
}

#home words {
  font-size: 20%;
  color: #cc0000;
  font_: 'Arizonia';
  text-shadow_: 1.5px 1.5px 0px rgba(0,0,0,0.4); 
  text-shadow_: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
  text-shadow_: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000, 1px -1px #000, -1px 1px #000;
    text-shadow_:
    /* Outline 1 */
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,  
    -2px 0 0 #000000,
    2px 0 0 #000000,
    0 2px 0 #000000,
    0 -2px 0 #000000, 
    /* Outline 2 */
    -2px -2px 0 #000000,
    2px -2px 0 #000000,
    -2px 2px 0 #000000,
    2px 2px 0 #000000,  
    -3px 0 0 #000000,
    3px 0 0 #000000,
    0 3px 0 #000000,
    0 -3px 0 #000000; /* Terminate with a semi-colon */
  font_: 400 600px/1.3 'Arizonia', Helvetica, sans-serif;
  font_: bold 200px/1.5 'Arizonia';
  font_: bold 200px/1.5 'Great Vibes';
  font_: bold 30px/1.3 'Merienda One';
  font_: bold 30px/1.3 'Impact';
  font: bold 32px/1.3 'Georgia',serif;
  height_: 458px; 
  position: absolute; 
  text-align: center; 
  top: 370px; 
  width: 100%; 
  letter-spacing: 2px;
  margin-top_: 80px;
    margin-bottom_: 50px;
    margin-right: 10px;
    margin-left: 5px;
	background-color_:black;
    z-index_:1000;
    opacity_:0.5;
}

ul.christsake{
	list-style-type_: circle;
	text-align:left;
	padding: .2em 1em;
	margin-left: 90px;
	font_: bold 22px/1.3 'Merienda One';
	font: bold 24px/1.3 'Georgia',serif;
	background-color_:black;
    z-index_:0;
    opacity_:0.5;
}

ul.christsake2{
	columns: 2;
	-webkit-columns: 2;
    -moz-columns: 2;
	list-style-type: square;
	text-align:left;
	padding: .2em 1em;
	margin-left: 90px;
	font_: bold 24px/1.3 'Merienda One';	
	font: bold 24px/1.3 'Georgia',serif;
	background-color_:black;
    z-index_:0;
    opacity_:0.5;
}


h2 {
  font: 1400 1000px/1.5 'Arizonia', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.5); 
}
 

 
#about { 
  background: url(about-bg.jpg) 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}


.offscreen { 
  position: absolute; 
  top: -30em; 
  left: -300em; 
} 

div#hmenu { 
   margin: 0; 
   padding_: .5em 0.5em 0.5em 0em; 
   padding_: 0.5em; 
   background: #cc0000; 
   width: 100%; 
   text-align: center; 
} 

div#hmenu ul { 
   list-style: none; 
   margin: 0; 
   padding_: 0; 
   width_: 25%;
      text-align: center; 
   padding: 0.5em 0.5em 0.5em 0.5em; 

} 

div#hmenu ul li { 
   margin: 0; 
   padding_: 0; 
   display: inline; 
   width_: 25%;
} 

div#hmenu ul a:link{ 
   margin: 0; 
   padding: 0.5em 1.7em 0.5em 1.7em;
   padding_: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #FFFFFF; 
   width_: 25%;
} 

div#hmenu ul a:visited{ 
   margin: 0; 
   padding: 0.5em 1.7em 0.5em 1.7em;
   padding_: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #FFFFFF; 
} 

div#hmenu ul a:active{ 
   margin: 0; 
   padding: 0.5em 1.7em 0.5em 1.7em;
   padding_: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #FFFFFF; 
   width: 25%;
} 

div#hmenu ul a:hover{ 
   margin: 0; 
   padding: 0.5em 1.7em 0.5em 1.7em;
   padding_: .3em .4em .3em .4em; 
   text-decoration: none; 
   font-weight: bold; 
   font-size: medium; 
   color: #cc0000; 
   background-color: #000000; 
}
